<%- include('partials/header.ejs', { title: 'Signup', user: null }) %>
    <form action="/login" method="post">
        Username: <input type="text" name="username" id="username"><br>
        Password: <input type="password" name="password" id="password"><br>
        <input type="submit" value="Signup">
    </form>
<%- include('partials/footer.ejs') %>