<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %> | AuthTest</title>
</head>
<body>
<main>
<header>
    <% if(user){ %>
        Logged in as <%= user %>
    <% } else { %>
        <a href="/login">Log in</a> or <a href="/signup">Sign up</a>
    <% } %>
</header>